<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
    <link href="../css/stylesheet.css" rel="stylesheet">
    <meta charset="UTF-8">
    <script src="../node_modules/angular/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.js"></script>

    <title>To Do App</title>
</head>
<body>
<div id='app' ng-controller='MainCtrl as main'>
    <div>
        <h1>To-Do App</h1>
        <a ui-sref='main'>Main</a>
        <a ui-sref="about">About</a>
    </div>
    <div ui-view>
    </div>
    <div id="mainView" ng-show="main.view === 'main'">
        <a href='#' ng-click="main.deleteAllCompleted()"><img class="trashIcon" src="../images/trashCan.png"/></a>
        <h2 ng-repeat="list in main.toDoLists" ng-click="main.changeView(list.originalName);">{{list.name}}</h2>
        <form ng-submit="main.makeToDoList(main.theList)">
            <input placeholder="List Name" ng-model="main.theList">
            <button type="submit">Make List</button>
        </form>

    </div>
    <div id='toDoDiv' ng-show="main.view !== 'main'">
        <list list="main.toDoLists[main.view]"></list>
        <to-do ng-repeat="toDo in main.toDoLists[main.view].thingsToDo" list="main.view" info="toDo"></to-do>
        <form ng-submit="main.addToDo(main.view, main.theToDo)">
            <input ng-model="main.theToDo">
            <button type="submit">Add To Do</button>
        </form>
        <button ng-click="main.changeView('main');">Back to Main</button>
    </div>
</div>
<script src="../js/module.js"></script>
<script src="../js/Services/main.js"></script>
<script src="../js/Controllers/mainCtrl.js"></script>
<script src="../js/Directives/list/list.js"></script>
<script src="../js/Directives/toDo/toDo.js"></script>
<script src="../js/Components/view-switcher/view-switcher.js"></script>
<script src="../js/Components/about/about.js"></script>
</body>
</html>